<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>AuxCon</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="bootstrap-theme.css">
	<link rel="stylesheet" href="blog.css">
</head>
<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<!-- TOOD(varun): put the right links here -->
				<a class="blog-nav-item active" href="/">Home</a>
				<a class="blog-nav-item" href="about">About</a>
			</nav>
		</div>
	</div>

	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title">AuxCon</h1>
			<!-- <p class="lead blog-description">Some little blurb about what AuxCon is about. TODO(Rory) - make a catchphrase? Too cheesy?</p> -->
			<!-- <h3>What is AuxCon?</h3> -->
			<p>AuxCon is a non-profit whose goal is to get more students engaged with Mathematics and Science and to encourage them to develop a love of learning for its own sake. This is <strong>not</strong> a tutoring program. The courses we provide are designed with content sourced from outside the school curriculum.</p>
			<p>A typical AuxCon session will run for 2 hours and will be under 10 students with 2 instructors. An AuxCon session is not a tutoring session. Rather, it is better understood as a discussion where a topic/concept is presented and questions from the students drive the discussion.</p>
		</div>


	<!-- EASTER EGG 
	Hey if you found this, does that mean you're into web development?

	Want to volunteer at AuxCon as our web dev? It'll be awesome! I promise!

	Just email auxconlearning@gmail.com. We'll be excited to have you!
	-->

<!-- 		<div class="row">
			<div class="col-sm-8 blog-main">
	        	<div class="blog-post">
		            <h2 class="blog-post-title">{{Topic Name}}</h2>
		            <p class="blog-post-meta">Some little meta text about the topic</p>

		            <p>So this is just some text about the topic.</p>
		            <h2>Heading</h2>
		            <h3>Sub-heading</h3>
		            <p>So the above is just another little sub-heading</p>
	        	</div>
			</div>
		</div> -->

		<h1>List of courses</h1>
		<div class="row">
			<div class="col-sm-8 blog-main">
	        	<div class="blog-post">
		            <h2 class="blog-post-title">Trilateration</h2>
		            <!-- <p class="blog-post-meta">Some little meta text about the topic</p> -->

		            <p>Want to know how GPS systems work? This is the session for you! In this session we'll explore a technique called trilateration used by GPS systems to determine the coordinates of a point based on the location of the GPS satellites.</p>

		            <p>The course discussion will include:
		            	<ul>
		            		<li>What is a GPS coordinate?</li>
		            		<li>What is the equation of a circle?</li>
		            		<li>How can algebra be used to solve this problem?</li>
		            	</ul>
		            </p>

		            <p><strong><a href="#">Registration form</a></strong></p>
	        	</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 blog-main">
	        	<div class="blog-post">
		            <h2 class="blog-post-title">Binary Search</h2>
		            <!-- <p class="blog-post-meta">Some little meta text about the topic</p> -->

		            <p>When you log into facebook or Gmail, your data needs to be retrieved from a database. This database can contain data for millions and millions of users. So what algorithms are used to quickly search through this data? If you're interested in questions like this, then this course is for you!</p>

		            <p>The course discussion will include:
		            	<ul>
	            			<li>What is an algorithm?</li>
	            			<li>What is a database?</li>
	            			<li>What is a search algorithm?</li>
	            			<li>And finally, what is the binary search algorithm?</li>
            			</ul>
        			</p>

		            <p><strong><a href="#">Registration form</a></strong></p>
	        	</div>
			</div>
		</div>
	</div>

    <footer class="blog-footer">
    	<p><a href="/">Privacy Policy</a></p>
      <p>The template used for this site has been reused from the one available on the <a href="http://getbootstrap.com/">Bootstrap</a> website, which was made for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </footer>

	<script src="jquery-1.11.1.js"></script>
	<script src="bootstrap.js"></script>
</body>
</html>